[flake8]
exclude = shulkr/DecompilerMC
extend-ignore =
    # Indentation — black handles
    E1
    W1
    # Whitespace — black handles
    E2
    W2
    # Blank lines — black handles
    E3
    W3
    # Line length — black handles
    E5
    W5
per-file-ignores =
	# line too long
	tests/*: E501

max-line-length = 88
# continuation-style = hanging
