[submodule "fabric-example-mod"]
	path = fabric-example-mod
	url = git@github.com:FabricMC/fabric-example-mod.git
[submodule "DecompilerMC"]
	path = DecompilerMC
	url = git@github.com:hube12/DecompilerMC.git
