[submodule "fabric-example-mod"]
	path = fabric-example-mod
	url = git@github.com:FabricMC/fabric-example-mod.git
[submodule "shulkr/yarn"]
	path = shulkr/yarn
	url = https://github.com/FabricMC/yarn.git
