[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
javalang = "*"
unidiff = "*"
requests = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
twine = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python -m shulkr"
test = "python -m pytest tests/unit"
profile = "python -m tests.profile"
build = "python setup.py clean --all sdist bdist_wheel"
publish = "python -m twine upload dist/*"
publish-test = "python -m twine upload --repository testpypi dist/*"
