[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
javalang = "*"
unidiff = "*"
requests = "*"
toml = "*"
click = "*"
# Required by click for styling on Windows
colorama = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
twine = "*"
flake8 = "*"
flake8-tabs = "*"
bump2version = "*"
keepachangelog = "*"
python-lsp-server = "*"
pyls-mypy = {git = "https://github.com/tomv564/pyls-mypy.git"}
# Needed to run tests on windows
atomicwrites = "*"

[requires]
python_version = "3.9"

[scripts]
setup = "pip install -e ."
start = "python -m shulkr"
test-unit = "python -m pytest tests/command/unit tests/mint/unit tests/minecraft/unit tests/shulkr/unit"
test-smoke = "python -m pytest tests/command/smoke tests/gradle/smoke tests/mint/smoke tests/shulkr/smoke"
test-func = "python -m pytest tests/java/functional tests/shulkr/functional"
lint = "python -m flake8 src"
profile = "python -m tests.profile"
bump = "python -m scripts.bump"
build = "python setup.py clean --all sdist bdist_wheel"
publish = "python -m twine upload dist/*"
publish-test = "python -m twine upload --repository testpypi dist/*"
