[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
javalang = "*"
unidiff = "*"
requests = "*"
flake8-tabs = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
twine = "*"
flake8 = "*"
bump2version = "*"
keepachangelog = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python -m shulkr"
test-unit = "python -m pytest tests/unit"
test-func = "python -m pytest tests/functional"
lint = "python -m flake8 shulkr tests"
profile = "python -m tests.profile"
bump = "python scripts/bump.py"
build = "python setup.py clean --all sdist bdist_wheel"
publish = "python -m twine upload dist/*"
publish-test = "python -m twine upload --repository testpypi dist/*"
